.header .nav .nav1 a:nth-child(1){
    width: 84px;
}
.header .nav .nav1 a:nth-child(2){
    width: 50px;
}
.header .nav .nav1 a:nth-child(3){
    width: 111px;
}
.header .nav .nav1 a:nth-child(4){
    width: 106px;
    color: white;
    border: 1px solid #7b7b7b;
}
.header .nav .nav1 a:nth-child(5){
    width: 76px;
}
.header .nav .nav1 a:nth-child(6){
    width: 65px;
}
.rendering{
    width: 100%;
    position: relative;
}
.rendering .tab .tab_img{
    width: 100%;
    opacity: 0;
}
.rendering .tab{
    position: relative;
    width: 90%;
    margin: auto;
}
.rendering .tab .qie{
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
}
.rendering .tab div{
    width: 68px;
    height: 20px;
    position: absolute;
    z-index: 9;
    line-height: 20px;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: auto;
}
.rendering .tab div span{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #999999;
    border-radius: 6px;
}
.rendering .tab div span:nth-child(2){
    margin: 0 16px;
}
.rendering .rendering_con{
    width: 90%;
    margin: auto;
    position: relative;
}
.rendering .rendering_con .pubu{
    width: 24%;
    margin: 12px 0.5% 0 0.5%;
    position: absolute;
    transition: 0.15s;
}
.rendering .rendering_con .pubu .tu{
    width: 100%;
}
.rendering .rendering_con .pubu div{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 100%;
    text-align: center;
    background: rgba(33,33,33,0.7);
    display: none;
}
.rendering .rendering_con .pubu:hover div{
    display: block;
}
.rendering .rendering_con .pubu div img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.rendering .rendering_con .pubu p{
    padding: 10px 10px 30px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.rendering .scale{
    position: fixed;
    z-index: 9;
    background: rgba(0,0,0,0.8);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
} 
.rendering .scale img{
    border-width: 15px 15px 45px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border-style: solid;
    border-color: white;
}
.footer{
    height: 125px;
    width: 100%;
    padding-top: 66px;
}
.footer .email{
    width: 35px;
    height: 26px;
    margin: 0 auto 19px auto;
    background: url(../img/footer/email1.png);
}
.footer .email:hover{
    background: url(../img/footer/email2.png);
}
.footer .foot_nav{
    width: 148px;
    height: 25px;
    margin: auto;
}
.footer .foot_nav p{
    width: 25px;
    height: 25px;
    margin-right: 16px;
}
.footer .foot_nav .f{
    background: url(../img/footer/f1.png);
}
.footer .foot_nav .f:hover{
    background: url(../img/footer/f2.png);
}
.footer .foot_nav .you{
    background: url(../img/footer/you1.png);
}
.footer .foot_nav .you:hover{
    background: url(../img/footer/you2.png);
}
.footer .foot_nav .in{
    background: url(../img/footer/in1.png);
}
.footer .foot_nav .in:hover{
    background: url(../img/footer/in2.png);
}
.footer .foot_nav .t{
    margin: 0;
    background: url(../img/footer/t1.png);
}
.footer .foot_nav .t:hover{
    background: url(../img/footer/t2.png);
}
.footer .statement{
    width: 240px;
    margin: 30px auto 0 auto;
    text-align: center;
    color: #707070;
}
@media screen and (min-width: 640px) and (max-width: 960px){
    .header .nav{
        width: 100%;
    }
    .header .nav .nav1{
        display: none;
    }
    .header .nav .nav2{
        display: block;
    }
    .rendering .rendering_con .pubu{
        width: 32.333333%;
    }
}
@media screen and (max-width: 640px){
    .header .nav{
        width: 100%;
    }
    .header .nav .nav1{
        display: none;
    }
    .header .nav .nav2{
        display: block;
    }
    .rendering .rendering_con .pubu{
        width: 49%;
    }
}






