.wrap{
	width: 100%;
	font-size: 12px;
	font-family: "source-han-sans-simplified-c",sans-serif!important;
}
/*头部样式*/
.header{
	width: 6.6rem;
	padding: 0 0.3rem;
	margin: auto;
	position: relative;
	background: #fafafa;
	box-shadow: 0 3px 3px #e5e5e5;
}
.header a{
	display: inline-block;
	width: 0.23rem;
	line-height: 0.86rem;
}
.header a img{
	width: 100%;
}
.header .nav{
	position: absolute;
	left: 0;
	right: 0;
	top: 0.145rem;
	line-height: 0.66rem;
	font-size: 0.2rem;
	color: #676767;
	margin: auto;
	text-align: center;
}
.header .language{
	width: 0.54rem;
	line-height: 0.54rem;
	font-size: 0.3rem;
	color: #fff;
	background: #f5d824;
	text-align: center;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-top: 0.2rem;
}
/*中间样式*/
.content{
	width: 100%;
}
.datu{
    width: 100%;
}