.wrap{
	width: 100%;
	font-size: 12px;
	font-family: "source-han-sans-simplified-c",sans-serif!important;
}
/*头部样式*/
.header{
	width: 6.6rem;
	padding: 0 0.3rem;
	margin: auto;
	position: relative;
	background: #fafafa;
	box-shadow: 0 3px 3px #e5e5e5;
}
.header a{
	display: inline-block;
	width: 0.23rem;
	line-height: 0.86rem;
}
.header a img{
	width: 100%;
}
.header .nav{
	position: absolute;
	left: 0;
	right: 0;
	top: 0.145rem;
	margin: auto;
	text-align: center;
}
.header .nav span{
	line-height: 0.68rem;
	display: inline-block;
	font-size: 0.3rem;
	color: #000;
	padding: 0 0.15rem;
}
.header .nav span:nth-child(2){
	margin: 0 0.5rem;
}
.header .nav .select{
	border-bottom: 0.04rem solid #f5d721;
	color: #f5d721;
}
.header .language{
	width: 0.54rem;
	line-height: 0.54rem;
	font-size: 0.3rem;
	color: #fff;
	background: #f5d824;
	text-align: center;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-top: 0.2rem;
}
/*中间样式*/
.content{
	width: 100%;
}
.content .con{
	display: none;
}
.content .con1{
	display: block;
}
.content .con1 .pintu{
	background: #f5f5f5;
	border-bottom: 1px solid #e6e6e6;
}
.content .con1 .pintu img{
	width: 100%;
	margin: 0.10rem 0 0.2rem;
	border-bottom: 0.03rem solid #978078;
}
.content .con1 .message{
	margin: 0.4rem 0 0.65rem 0.5rem;
}
.content .con1 .message .message_tit{
	font-size: 0.3rem;
	color: black;
	margin-bottom: 0.05rem;
}
.content .con1 .message p{
	line-height: 0.4rem;
	font-size: 0.24rem;
	color: #666666;
}
.content .con1 .sub{
	width: 100%;
	text-align: center;
}
.content .con1 .sub .sub_l{
	width: 40%;
}
.content .con1 .sub .sub_l div{
	width: 50%;
	height: 1.08rem;
	padding-top: 0.56rem;
	line-height: 0.40rem;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	color: #666666;
	font-size: 0.24rem;
	border-top: 1px solid #b5b5b5;
	border-bottom: 1px solid #b5b5b5;
}
.content .con1 .sub .sub_l .collect{
	border-right: 1px solid #b5b5b5;
	background: url(../images/productdetail/collect.jpg) no-repeat center 0.23rem;
	background-size: 0.39rem auto;
}
.content .con1 .sub .sub_l .share{
	background: url(../images/productdetail/share.jpg) no-repeat center 0.23rem;
	background-size: 0.4rem auto;
}
.content .con1 .sub .sub_r{
	width: 60%;
	line-height: 1.08rem;
	background: #ffe000;
	font-size: 0.44rem;
}